dev/TEI_Intro.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2025-05-07T07:55:55Z. . 
TEI Edition: P5 Version 4.9.0. Last updated on 24th January 2025, revision f73186978 
TEI Edition Location: https://www.tei-c.org/Vault/P5/4.9.0/ 
  
--><!--[https://creativecommons.org/licenses/by-nc-sa/4.0/] Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) -->
   <define name="ssrq.content.anchor.spans">
      <empty/>
   </define>
   <define name="ssrq.content.content">
      <choice>
         <ref name="date"/>
      </choice>
   </define>
   <define name="ssrq.content.critical">
      <choice>
         <ref name="foreign"/>
         <ref name="gap"/>
         <ref name="note"/>
      </choice>
   </define>
   <define name="ssrq.content.default">
      <choice>
         <text/>
         <ref name="ssrq.content.anchor.spans"/>
         <ref name="ssrq.content.content"/>
         <ref name="ssrq.content.critical"/>
         <ref name="ssrq.content.display"/>
         <ref name="ssrq.content.entities"/>
         <ref name="ssrq.content.measure"/>
      </choice>
   </define>
   <define name="ssrq.content.display">
      <choice>
         <ref name="figure"/>
         <ref name="head"/>
         <ref name="hi"/>
         <ref name="orig"/>
         <ref name="pc"/>
         <ref name="q"/>
         <ref name="quote"/>
         <ref name="table"/>
      </choice>
   </define>
   <define name="ssrq.content.entities">
      <choice>
         <ref name="orgName"/>
         <ref name="persName"/>
      </choice>
   </define>
   <define name="ssrq.content.measure">
      <empty/>
   </define>
   <define name="ssrq.lang.de">
      <choice>
         <value>de</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">German</a:documentation>
      </choice>
   </define>
   <define name="ssrq.lang.fr">
      <choice>
         <value>fr</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">French</a:documentation>
      </choice>
   </define>
   <define name="ssrq.lang.he">
      <choice>
         <value>he</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Hebrew</a:documentation>
      </choice>
   </define>
   <define name="ssrq.lang.it">
      <choice>
         <value>it</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Italian</a:documentation>
      </choice>
   </define>
   <define name="ssrq.lang.la">
      <choice>
         <value>la</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Latin</a:documentation>
      </choice>
   </define>
   <define name="ssrq.lang.rm">
      <choice>
         <value>rm</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Romansh</a:documentation>
      </choice>
   </define>
   <define name="ssrq-intro.role.resp.de">
      <choice>
         <value>Herausgabe</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <value>Qualitätskontrolle</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <value>XML-Codierung</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
      </choice>
   </define>
   <define name="ssrq-intro.role.resp.fr">
      <choice>
         <value>Contrôle de qualité</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <value>Encodage XML</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <value>Publication</value>
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
      </choice>
   </define>
   <define name="ssrq.id.string">
      <data type="string">
         <param name="pattern">id-ssrq-[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[4][0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}</param>
      </data>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="ssrq-intro-schema-att.pointing-targetLang-constraint-rule-1">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
         <sch:assert test="@target">@targetLang should only be used on <sch:name/> if @target is specified.</sch:assert>
      </sch:rule>
   </pattern>
   <define name="att.resourced.attributes">
      <ref name="att.resourced.attribute.url"/>
   </define>
   <define name="att.resourced.attribute.url">
      <attribute name="url">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform resource locator) the link to an image file</a:documentation>
         <data type="anyURI">
            <param name="pattern">\S+</param>
         </data>
      </attribute>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="ssrq-intro-schema-att.typed-subtypeTyped-constraint-rule-2">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@subtype]">
         <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="att.written.attributes">
      <ref name="att.written.attribute.hand"/>
   </define>
   <define name="att.written.attribute.hand">
      <optional>
         <attribute name="hand">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a reference to the <code xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:rng="http://relaxng.org/ns/structure/1.0">@xml:id</code> of a <code xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:rng="http://relaxng.org/ns/structure/1.0">&lt;handNote&gt;</code> element</a:documentation>
            <choice>
               <ref name="ssrq.id.string"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="att.global.attributes">
      <ref name="att.global.attribute.xmllang"/>
      <ref name="att.global.attribute.xmlid"/>
      <ref name="att.global.attribute.n"/>
   </define>
   <define name="att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the language according to ISO 639-1</a:documentation>
            <choice>
               <ref name="ssrq.lang.de"/>
               <ref name="ssrq.lang.fr"/>
               <ref name="ssrq.lang.he"/>
               <ref name="ssrq.lang.it"/>
               <ref name="ssrq.lang.la"/>
               <ref name="ssrq.lang.rm"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) the ID of the element</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) the numbering of the element</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="model.nameLike.agent">
      <choice>
         <ref name="orgName"/>
         <ref name="persName"/>
      </choice>
   </define>
   <define name="model.nameLike.agent_alternation">
      <choice>
         <ref name="orgName"/>
         <ref name="persName"/>
      </choice>
   </define>
   <define name="model.nameLike.agent_sequence">
      <ref name="orgName"/>
      <ref name="persName"/>
   </define>
   <define name="model.nameLike.agent_sequenceOptional">
      <optional>
         <ref name="orgName"/>
      </optional>
      <optional>
         <ref name="persName"/>
      </optional>
   </define>
   <define name="model.nameLike.agent_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="orgName"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="persName"/>
      </zeroOrMore>
   </define>
   <define name="model.nameLike.agent_sequenceRepeatable">
      <oneOrMore>
         <ref name="orgName"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="persName"/>
      </oneOrMore>
   </define>
   <define name="model.segLike">
      <notAllowed/>
   </define>
   <define name="model.segLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.segLike_sequence">
      <empty/>
   </define>
   <define name="model.segLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.segLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.segLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.hiLike">
      <choice>
         <ref name="hi"/>
         <ref name="q"/>
      </choice>
   </define>
   <define name="model.hiLike_alternation">
      <choice>
         <ref name="hi"/>
         <ref name="q"/>
      </choice>
   </define>
   <define name="model.hiLike_sequence">
      <ref name="hi"/>
      <ref name="q"/>
   </define>
   <define name="model.hiLike_sequenceOptional">
      <optional>
         <ref name="hi"/>
      </optional>
      <optional>
         <ref name="q"/>
      </optional>
   </define>
   <define name="model.hiLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="hi"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="q"/>
      </zeroOrMore>
   </define>
   <define name="model.hiLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="hi"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="q"/>
      </oneOrMore>
   </define>
   <define name="model.emphLike">
      <choice>
         <ref name="title"/>
      </choice>
   </define>
   <define name="model.emphLike_alternation">
      <choice>
         <ref name="title"/>
      </choice>
   </define>
   <define name="model.emphLike_sequence">
      <ref name="title"/>
   </define>
   <define name="model.emphLike_sequenceOptional">
      <optional>
         <ref name="title"/>
      </optional>
   </define>
   <define name="model.emphLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="title"/>
      </zeroOrMore>
   </define>
   <define name="model.emphLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="title"/>
      </oneOrMore>
   </define>
   <define name="model.highlighted">
      <choice>
         <ref name="model.hiLike"/>
         <ref name="model.emphLike"/>
      </choice>
   </define>
   <define name="model.highlighted_alternation">
      <choice>
         <ref name="model.hiLike_alternation"/>
         <ref name="model.emphLike_alternation"/>
      </choice>
   </define>
   <define name="model.highlighted_sequence">
      <ref name="model.hiLike_sequence"/>
      <ref name="model.emphLike_sequence"/>
   </define>
   <define name="model.highlighted_sequenceOptional">
      <optional>
         <ref name="model.hiLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.emphLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="model.highlighted_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="model.hiLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.emphLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="model.highlighted_sequenceRepeatable">
      <oneOrMore>
         <ref name="model.hiLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.emphLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="model.dateLike">
      <notAllowed/>
   </define>
   <define name="model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.dateLike_sequence">
      <empty/>
   </define>
   <define name="model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.measureLike">
      <notAllowed/>
   </define>
   <define name="model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.measureLike_sequence">
      <empty/>
   </define>
   <define name="model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.egLike">
      <notAllowed/>
   </define>
   <define name="model.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.egLike_sequence">
      <empty/>
   </define>
   <define name="model.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.graphicLike">
      <choice>
         <ref name="graphic"/>
      </choice>
   </define>
   <define name="model.graphicLike_alternation">
      <choice>
         <ref name="graphic"/>
      </choice>
   </define>
   <define name="model.graphicLike_sequence">
      <ref name="graphic"/>
   </define>
   <define name="model.graphicLike_sequenceOptional">
      <optional>
         <ref name="graphic"/>
      </optional>
   </define>
   <define name="model.graphicLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="graphic"/>
      </zeroOrMore>
   </define>
   <define name="model.graphicLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="graphic"/>
      </oneOrMore>
   </define>
   <define name="model.offsetLike">
      <notAllowed/>
   </define>
   <define name="model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.pPart.msdesc">
      <notAllowed/>
   </define>
   <define name="model.pPart.msdesc_alternation">
      <notAllowed/>
   </define>
   <define name="model.pPart.msdesc_sequence">
      <empty/>
   </define>
   <define name="model.pPart.msdesc_sequenceOptional">
      <empty/>
   </define>
   <define name="model.pPart.msdesc_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.pPart.msdesc_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.pPart.transcriptional">
      <choice>
         <ref name="orig"/>
      </choice>
   </define>
   <define name="model.pPart.transcriptional_alternation">
      <choice>
         <ref name="orig"/>
      </choice>
   </define>
   <define name="model.pPart.transcriptional_sequence">
      <ref name="orig"/>
   </define>
   <define name="model.pPart.transcriptional_sequenceOptional">
      <optional>
         <ref name="orig"/>
      </optional>
   </define>
   <define name="model.pPart.transcriptional_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="orig"/>
      </zeroOrMore>
   </define>
   <define name="model.pPart.transcriptional_sequenceRepeatable">
      <oneOrMore>
         <ref name="orig"/>
      </oneOrMore>
   </define>
   <define name="model.pPart.edit">
      <choice>
         <ref name="model.pPart.editorial"/>
         <ref name="model.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="model.pPart.edit_alternation">
      <choice>
         <ref name="model.pPart.editorial_alternation"/>
         <ref name="model.pPart.transcriptional_alternation"/>
      </choice>
   </define>
   <define name="model.pPart.edit_sequence">
      <ref name="model.pPart.editorial_sequence"/>
      <ref name="model.pPart.transcriptional_sequence"/>
   </define>
   <define name="model.pPart.edit_sequenceOptional">
      <optional>
         <ref name="model.pPart.editorial_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.pPart.transcriptional_sequenceOptional"/>
      </optional>
   </define>
   <define name="model.pPart.edit_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="model.pPart.editorial_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.pPart.transcriptional_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="model.pPart.edit_sequenceRepeatable">
      <oneOrMore>
         <ref name="model.pPart.editorial_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.pPart.transcriptional_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="model.ptrLike">
      <choice>
         <ref name="ref"/>
      </choice>
   </define>
   <define name="model.ptrLike_alternation">
      <choice>
         <ref name="ref"/>
      </choice>
   </define>
   <define name="model.ptrLike_sequence">
      <ref name="ref"/>
   </define>
   <define name="model.ptrLike_sequenceOptional">
      <optional>
         <ref name="ref"/>
      </optional>
   </define>
   <define name="model.ptrLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="ref"/>
      </zeroOrMore>
   </define>
   <define name="model.ptrLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="ref"/>
      </oneOrMore>
   </define>
   <define name="model.lPart">
      <notAllowed/>
   </define>
   <define name="model.lPart_alternation">
      <notAllowed/>
   </define>
   <define name="model.lPart_sequence">
      <empty/>
   </define>
   <define name="model.lPart_sequenceOptional">
      <empty/>
   </define>
   <define name="model.lPart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.lPart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.global.meta">
      <notAllowed/>
   </define>
   <define name="model.global.meta_alternation">
      <notAllowed/>
   </define>
   <define name="model.global.meta_sequence">
      <empty/>
   </define>
   <define name="model.global.meta_sequenceOptional">
      <empty/>
   </define>
   <define name="model.global.meta_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.global.meta_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="model.milestoneLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.milestoneLike_sequence">
      <empty/>
   </define>
   <define name="model.milestoneLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.milestoneLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.milestoneLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.oddDecl">
      <notAllowed/>
   </define>
   <define name="model.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="model.oddDecl_sequence">
      <empty/>
   </define>
   <define name="model.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="model.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.phrase.xml">
      <choice>
         <ref name="gi"/>
      </choice>
   </define>
   <define name="model.phrase.xml_alternation">
      <choice>
         <ref name="gi"/>
      </choice>
   </define>
   <define name="model.phrase.xml_sequence">
      <ref name="gi"/>
   </define>
   <define name="model.phrase.xml_sequenceOptional">
      <optional>
         <ref name="gi"/>
      </optional>
   </define>
   <define name="model.phrase.xml_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="gi"/>
      </zeroOrMore>
   </define>
   <define name="model.phrase.xml_sequenceRepeatable">
      <oneOrMore>
         <ref name="gi"/>
      </oneOrMore>
   </define>
   <define name="model.specDescLike">
      <notAllowed/>
   </define>
   <define name="model.specDescLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.specDescLike_sequence">
      <empty/>
   </define>
   <define name="model.specDescLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.specDescLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.specDescLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.biblLike">
      <choice>
         <ref name="bibl"/>
      </choice>
   </define>
   <define name="model.biblLike_alternation">
      <choice>
         <ref name="bibl"/>
      </choice>
   </define>
   <define name="model.biblLike_sequence">
      <ref name="bibl"/>
   </define>
   <define name="model.biblLike_sequenceOptional">
      <optional>
         <ref name="bibl"/>
      </optional>
   </define>
   <define name="model.biblLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="bibl"/>
      </zeroOrMore>
   </define>
   <define name="model.biblLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="bibl"/>
      </oneOrMore>
   </define>
   <define name="model.labelLike">
      <notAllowed/>
   </define>
   <define name="model.labelLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.labelLike_sequence">
      <empty/>
   </define>
   <define name="model.labelLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.labelLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.labelLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.listLike">
      <notAllowed/>
   </define>
   <define name="model.listLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.listLike_sequence">
      <empty/>
   </define>
   <define name="model.listLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.listLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.listLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.noteLike">
      <notAllowed/>
   </define>
   <define name="model.noteLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.noteLike_sequence">
      <empty/>
   </define>
   <define name="model.noteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.noteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.noteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.stageLike">
      <notAllowed/>
   </define>
   <define name="model.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.stageLike_sequence">
      <empty/>
   </define>
   <define name="model.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.global.edit">
      <notAllowed/>
   </define>
   <define name="model.global.edit_alternation">
      <notAllowed/>
   </define>
   <define name="model.global.edit_sequence">
      <empty/>
   </define>
   <define name="model.global.edit_sequenceOptional">
      <empty/>
   </define>
   <define name="model.global.edit_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.global.edit_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.placeStateLike">
      <choice>
         <ref name="model.placeNamePart"/>
      </choice>
   </define>
   <define name="model.placeStateLike_alternation">
      <choice>
         <ref name="model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="model.placeStateLike_sequence">
      <ref name="model.placeNamePart_sequence"/>
   </define>
   <define name="model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="model.quoteLike">
      <choice>
         <ref name="quote"/>
      </choice>
   </define>
   <define name="model.quoteLike_alternation">
      <choice>
         <ref name="quote"/>
      </choice>
   </define>
   <define name="model.quoteLike_sequence">
      <ref name="quote"/>
   </define>
   <define name="model.quoteLike_sequenceOptional">
      <optional>
         <ref name="quote"/>
      </optional>
   </define>
   <define name="model.quoteLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="quote"/>
      </zeroOrMore>
   </define>
   <define name="model.quoteLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="quote"/>
      </oneOrMore>
   </define>
   <define name="model.attributable">
      <choice>
         <ref name="model.quoteLike"/>
      </choice>
   </define>
   <define name="model.attributable_alternation">
      <choice>
         <ref name="model.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="model.attributable_sequence">
      <ref name="model.quoteLike_sequence"/>
   </define>
   <define name="model.attributable_sequenceOptional">
      <optional>
         <ref name="model.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="model.attributable_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="model.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="model.attributable_sequenceRepeatable">
      <oneOrMore>
         <ref name="model.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="model.addressLike">
      <notAllowed/>
   </define>
   <define name="model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="model.addressLike_sequence">
      <empty/>
   </define>
   <define name="model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="model.nameLike">
      <choice>
         <ref name="model.nameLike.agent"/>
         <ref name="model.offsetLike"/>
         <ref name="model.placeStateLike"/>
         <ref name="model.persNamePart"/>
      </choice>
   </define>
   <define name="model.nameLike_alternation">
      <choice>
         <ref name="model.nameLike.agent_alternation"/>
         <ref name="model.offsetLike_alternation"/>
         <ref name="model.placeStateLike_alternation"/>
         <ref name="model.persNamePart_alternation"/>
      </choice>
   </define>
   <define name="model.nameLike_sequence">
      <ref name="model.nameLike.agent_sequence"/>
      <ref name="model.offsetLike_sequence"/>
      <ref name="model.placeStateLike_sequence"/>
      <ref name="model.persNamePart_sequence"/>
   </define>
   <define name="model.nameLike_sequenceOptional">
      <optional>
         <ref name="model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.placeStateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.persNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.persNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.persNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="model.pPart.data">
      <choice>
         <ref name="model.dateLike"/>
         <ref name="model.measureLike"/>
         <ref name="model.addressLike"/>
         <ref name="model.nameLike"/>
      </choice>
   </define>
   <define name="model.pPart.data_alternation">
      <choice>
         <ref name="model.dateLike_alternation"/>
         <ref name="model.measureLike_alternation"/>
         <ref name="model.addressLike_alternation"/>
         <ref name="model.nameLike_alternation"/>
      </choice>
   </define>
   <define name="model.pPart.data_sequence">
      <ref name="model.dateLike_sequence"/>
      <ref name="model.measureLike_sequence"/>
      <ref name="model.addressLike_sequence"/>
      <ref name="model.nameLike_sequence"/>
   </define>
   <define name="model.pPart.data_sequenceOptional">
      <optional>
         <ref name="model.dateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.measureLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.addressLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="model.nameLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="model.pPart.data_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="model.dateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.measureLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.addressLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="model.nameLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="model.pPart.data_sequenceRepeatable">
      <oneOrMore>
         <ref name="model.dateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.measureLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.addressLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="model.nameLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="p">
      <element name="p">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</a:documentation>
         <oneOrMore>
            <interleave>
               <text/>
               <optional>
                  <choice>
                     <ref name="bibl"/>
                     <ref name="foreign"/>
                     <ref name="gi"/>
                     <ref name="hi"/>
                     <ref name="note"/>
                     <ref name="orig"/>
                     <ref name="pc"/>
                     <ref name="q"/>
                     <ref name="quote"/>
                  </choice>
               </optional>
            </interleave>
         </oneOrMore>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  xmlns:rng="http://relaxng.org/ns/structure/1.0"
                  id="ssrq-intro-schema-p-abstractModel-structure-p-in-ab-or-p-constraint-rule-3">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:p">
               <sch:report test="(ancestor::tei:ab or ancestor::tei:p) and                        not( ancestor::tei:floatingText                           | parent::tei:exemplum                           | parent::tei:item                           | parent::tei:note                           | parent::tei:q                           | parent::tei:quote                           | parent::tei:remarks                           | parent::tei:said                           | parent::tei:sp                           | parent::tei:stage                           | parent::tei:cell                           | parent::tei:figure )">
          Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
        </sch:report>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  xmlns:rng="http://relaxng.org/ns/structure/1.0"
                  id="ssrq-intro-schema-p-abstractModel-structure-p-in-l-constraint-rule-4">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:l//tei:p">
               <sch:assert test="ancestor::tei:floatingText | parent::tei:figure | parent::tei:note">
          Abstract model violation: Metrical lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
        </sch:assert>
            </sch:rule>
         </pattern>
      </element>
   </define>
   <define name="foreign">
      <element name="foreign">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(foreign form) identifies a word or phrase as belonging to some language other than that of the surrounding text. [3.3.2.1. Foreign Words or Expressions]</a:documentation>
         <text/>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the language according to ISO 639-1</a:documentation>
            <choice>
               <ref name="ssrq.lang.de"/>
               <ref name="ssrq.lang.fr"/>
               <ref name="ssrq.lang.he"/>
               <ref name="ssrq.lang.it"/>
               <ref name="ssrq.lang.la"/>
               <ref name="ssrq.lang.rm"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="hi">
      <element name="hi">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(highlighting) Describes the graphical highlighting of text. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language]</a:documentation>
         <oneOrMore>
            <ref name="ssrq.content.default"/>
         </oneOrMore>
         <ref name="att.written.attributes"/>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the appearance of the highlighting</a:documentation>
            <choice>
               <value>center</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">centered</a:documentation>
               <value>font_change</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">font change</a:documentation>
               <value>framed</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">framed</a:documentation>
               <value>italic</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">italic</a:documentation>
               <value>left</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">left</a:documentation>
               <value>outdent</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">outdent</a:documentation>
               <value>right</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">right</a:documentation>
               <value>rotated_90</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">rotated 90 degrees clockwise</a:documentation>
               <value>rotated_180</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">rotated 180 degrees clockwise</a:documentation>
               <value>rotated_270</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">rotated 270 degrees clockwise</a:documentation>
               <value>rubricated</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">rubricated</a:documentation>
               <value>sup</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">superscript</a:documentation>
               <value>underline</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">underlined</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="quote">
      <element name="quote">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(quote) contains a phrase or passage attributed by the narrator or author to some agency external to the text. [3.3.3. Quotation 4.3.1. Grouped Texts]</a:documentation>
         <oneOrMore>
            <interleave>
               <text/>
               <optional>
                  <choice>
                     <ref name="hi"/>
                     <ref name="orig"/>
                     <ref name="pc"/>
                     <ref name="note"/>
                  </choice>
               </optional>
            </interleave>
         </oneOrMore>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the type of quote</a:documentation>
               <choice>
                  <value>block</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a block quote</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="q">
      <element name="q">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(quote) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. Quotation]</a:documentation>
         <text/>
      </element>
   </define>
   <define name="orig">
      <element name="orig">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(original form) contains a reading which is marked as following the original, rather than being normalized or corrected. [3.5.2. Regularization and
Normalization 13. Critical Apparatus]</a:documentation>
         <oneOrMore>
            <interleave>
               <text/>
               <optional>
                  <ref name="gap"/>
               </optional>
            </interleave>
         </oneOrMore>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the language according to ISO 639-1</a:documentation>
            <choice>
               <ref name="ssrq.lang.de"/>
               <ref name="ssrq.lang.fr"/>
               <ref name="ssrq.lang.he"/>
               <ref name="ssrq.lang.it"/>
               <ref name="ssrq.lang.la"/>
               <ref name="ssrq.lang.rm"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="gap">
      <element name="gap">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(gap) indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. [3.5.3. Additions, Deletions, and Omissions]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="date">
      <element name="date">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(date) contains a date in any format. [3.6.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.12.2.4. Imprint, Size of a Document, and Reprint Information 16.2.3. The Setting Description 14.4. Dates]</a:documentation>
         <empty/>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron">
            <sch:rule context="tei:date">
               <sch:assert test=".[@when-custom or (@from-custom and @to-custom)][not(@notAfter-custom|@notBefore-custom)]">
            tei:date must contain @when-custom or @from-custom and to-custom, and may not contain
            @notAfter-custom or @notBefore-custom.
          </sch:assert>
            </sch:rule>
         </sch:pattern>
         <ref name="att.datable.custom.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the type of date</a:documentation>
            <choice>
               <value>electronic</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">electronic publication</a:documentation>
               <value>print</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">print</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="ref">
      <element name="ref">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) defines a reference to another location, possibly modified by additional text or comment. [3.7. Simple Links and Cross-References 17.1. Links]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="hi"/>
               <text/>
            </choice>
         </oneOrMore>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron">
            <sch:rule context="tei:ref[not(*)]">
               <sch:assert test="if (not(.[@target])) then string-length(normalize-space(.)) &gt; 0 else .[@target]">
              tei:ref should contain some text or must use the attribute @target.
          </sch:assert>
            </sch:rule>
         </sch:pattern>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron">
            <sch:rule context="tei:ref[not(ancestor::tei:editorialDecl)][not(parent::tei:note[@type='text_comparison'])]">
               <sch:assert test="./parent::tei:bibl">
              If tei:ref is not part of tei:editorialDecl or tei:note with @type="text_comparison",
              it should be enclosed in tei:bibl.
          </sch:assert>
            </sch:rule>
         </sch:pattern>
         <optional>
            <attribute name="target">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <data type="string">
                     <param name="pattern">doi:10\.\d{4}/.*</param>
                  </data>
                  <data type="anyURI">
                     <param name="pattern">(https?|ftp)://[^\s/$.?#].[^\s]*</param>
                  </data>
                  <choice>
                     <data type="string">
                        <param name="pattern">urn:ssrq:(SSRQ|SDS|FDS)-([A-Z]{2})-([A-Za-z0-9_]+)-(((([A-Za-z0-9]+\.)*)([0-9]+)-(1))|(lit|intro|bailiffs))(#(\d+|fol\d+[rv](\-\d+[rv])?|[pn]\d+(\.\d+)?(\-\d+(\.\d+)?)?))?</param>
                     </data>
                     <data type="string">
                        <param name="pattern">urn:ssrq:[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[4][0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}(#(\d+|fol\d+[rv](\-\d+[rv])?|[pn]\d+(\.\d+)?(\-\d+(\.\d+)?)?))?</param>
                     </data>
                  </choice>
                  <data type="string">
                     <param name="pattern">note-\d+</param>
                  </data>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="head">
      <element name="head">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers]</a:documentation>
         <oneOrMore>
            <interleave>
               <text/>
               <optional>
                  <ref name="pc"/>
               </optional>
            </interleave>
         </oneOrMore>
         <text/>
      </element>
   </define>
   <define name="note">
      <element name="note">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(note) contains a note or annotation. [3.9.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.12.2.8. Notes and Statement of Language 10.3.5.4. Notes within Entries]</a:documentation>
         <interleave>
            <text/>
            <zeroOrMore>
               <choice>
                  <ref name="bibl"/>
                  <ref name="foreign"/>
                  <ref name="hi"/>
                  <ref name="orig"/>
                  <ref name="pc"/>
                  <ref name="q"/>
                  <ref name="quote"/>
               </choice>
            </zeroOrMore>
         </interleave>
         <ref name="att.global.attribute.xmlid"/>
         <empty/>
      </element>
   </define>
   <define name="graphic">
      <element name="graphic">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(graphic) indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [3.10. Graphics and Other Non-textual Components 12.1. Digital Facsimiles]</a:documentation>
         <empty/>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron">
            <sch:rule context="tei:graphic">
               <sch:assert test="not(contains(@url, '/'))">
            The usage of a '/' is not allowed in @url
          </sch:assert>
            </sch:rule>
         </sch:pattern>
         <ref name="att.resourced.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="editor">
      <element name="editor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(editor) contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.12.2.2. Titles, Authors, and Editors]</a:documentation>
         <ref name="persName"/>
      </element>
   </define>
   <define name="respStmt">
      <element name="respStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility statement) Contains elements for describing the responsibility for the edition. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <group>
            <choice>
               <oneOrMore>
                  <ref name="persName"/>
               </oneOrMore>
               <ref name="orgName"/>
            </choice>
            <oneOrMore>
               <ref name="resp"/>
            </oneOrMore>
         </group>
      </element>
   </define>
   <define name="resp">
      <element name="resp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <choice>
            <ref name="ssrq-intro.role.resp.de"/>
            <ref name="ssrq-intro.role.resp.fr"/>
         </choice>
      </element>
   </define>
   <define name="title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <text/>
      </element>
   </define>
   <define name="publisher">
      <element name="publisher">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publisher) provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.12.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <text/>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron">
            <sch:rule context="tei:publisher[ancestor::tei:publicationStmt]">
               <sch:assert test="text() = 'SSRQ-SDS-FDS'">
              If tei:publisher is part of tei:publicationStmt it must contain the text
              "SSRQ-SDS-FDS".
          </sch:assert>
            </sch:rule>
         </sch:pattern>
      </element>
   </define>
   <define name="bibl">
      <element name="bibl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bibliographical statement) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 16.3.2. Declarable Elements]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="pc"/>
               <ref name="ref"/>
               <text/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="pc">
      <element name="pc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(punctuation character) Contains a punctuation mark, which is processed specially considering linguistic regulations (for example, by adding a space).Contient un signe de ponctuation spécialement traité en tenant compte des réglementations linguistiques. [18.1.2. Below the Word Level 18.4.2. Lightweight Linguistic Annotation]</a:documentation>
         <choice>
            <value>;</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <value>:</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <value>?</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <value>!</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </choice>
      </element>
   </define>
   <define name="att.tableDecoration.attributes">
      <ref name="att.tableDecoration.attribute.role"/>
   </define>
   <define name="att.tableDecoration.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the special use of the table cell</a:documentation>
            <choice>
               <value>label</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">column heading</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="table">
      <element name="table">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(table) contains text displayed in tabular form, in rows and columns. [15.1.1. TEI Tables]</a:documentation>
         <group>
            <ref name="head"/>
            <oneOrMore>
               <ref name="row"/>
            </oneOrMore>
         </group>
      </element>
   </define>
   <define name="row">
      <element name="row">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(row) contains one row of a table. [15.1.1. TEI Tables]</a:documentation>
         <oneOrMore>
            <ref name="cell"/>
         </oneOrMore>
      </element>
   </define>
   <define name="cell">
      <element name="cell">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(cell of a table) contains one cell of a table. [15.1.1. TEI Tables]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="bibl"/>
               <ref name="foreign"/>
               <ref name="pc"/>
               <text/>
            </choice>
         </oneOrMore>
         <ref name="att.tableDecoration.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="figure">
      <element name="figure">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(figure) groups elements representing or containing graphic information such as an illustration, formula, or figure. [15.4. Specific Elements for Graphic Images]</a:documentation>
         <group>
            <ref name="graphic"/>
            <ref name="head"/>
         </group>
      </element>
   </define>
   <define name="teiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 16.1. Varieties of Composite Text]</a:documentation>
         <ref name="fileDesc"/>
      </element>
   </define>
   <define name="fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) Contains elements describing the edited template and the digital capture. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <ref name="titleStmt"/>
            <ref name="publicationStmt"/>
            <ref name="seriesStmt"/>
            <ref name="sourceDesc"/>
         </group>
      </element>
   </define>
   <define name="titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) Contains elements describing title and responsibilities. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
            <ref name="title"/>
            <oneOrMore>
               <ref name="editor"/>
            </oneOrMore>
            <oneOrMore>
               <ref name="respStmt"/>
            </oneOrMore>
         </group>
      </element>
   </define>
   <define name="publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) Contains elements describing the publication and distribution of the edited piece. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <group>
            <ref name="publisher"/>
            <rng:optional xmlns:rng="http://relaxng.org/ns/structure/1.0">
               <rng:group>
                  <rng:ref name="date"/>
                  <optional>
                     <rng:ref name="date"/>
                  </optional>
               </rng:group>
            </rng:optional>
            <ref name="availability"/>
         </group>
      </element>
   </define>
   <define name="idno">
      <element name="idno">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identification number) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [14.3.1. Basic Principles 2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.12.2.4. Imprint, Size of a Document, and Reprint Information]</a:documentation>
         <text/>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude">
            <sch:rule context="tei:idno[parent::tei:seriesStmt][not(@type)]">
               <sch:assert test="matches(., '^(SSRQ|SDS|FDS)-([A-Z]{2})-([A-Za-z0-9_]+)-(?:(?:((?:[A-Za-z0-9]+\.)*)([0-9]+)-(1))|(lit|intro|bailiffs))$')"
                           role="warning">
            The tei:idno must match the defined schema – see the examples in the documentation.
          </sch:assert>
            </sch:rule>
            <sch:rule context="tei:idno[parent::tei:seriesStmt][@type]">
               <sch:assert test="matches(., '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[4][0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$')">
            The tei:idno needs to be a UUID.
          </sch:assert>
            </sch:rule>
         </sch:pattern>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude">
            <sch:rule context="tei:TEI">
               <sch:let name="idnos" value="//tei:idno[not(parent::tei:altIdentifier)]"/>
               <sch:assert test="count(distinct-values($idnos)) = count($idnos)">
            The value of every tei:idno should be unique.
          </sch:assert>
            </sch:rule>
         </sch:pattern>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the type of identification number</a:documentation>
               <choice>
                  <value>uuid</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Universally Unique Identifier</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="availability">
      <element name="availability">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(availability) Describes the availability of a text. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <ref name="licence"/>
      </element>
   </define>
   <define name="licence">
      <element name="licence">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(licence) Describes the license under which a text is available. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <choice>
            <value>Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </choice>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>https://creativecommons.org/licenses/by-nc-sa/4.0/</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the link to the license conditions</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="seriesStmt">
      <element name="seriesStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series statement) Contains elements for describing the collection of Swiss legal sources series. [2.2.5. The Series Statement 2.2. The File Description]</a:documentation>
         <group>
            <ref name="title"/>
            <ref name="respStmt"/>
            <group>
               <ref name="idno"/>
               <ref name="idno"/>
            </group>
         </group>
      </element>
   </define>
   <define name="sourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as born digital for a text which has no previous existence. [2.2.7. The Source Description]</a:documentation>
         <ref name="p"/>
      </element>
   </define>
   <define name="att.datable.custom.attributes">
      <ref name="att.datable.custom.attribute.from-custom"/>
      <ref name="att.datable.custom.attribute.notAfter-custom"/>
      <ref name="att.datable.custom.attribute.notBefore-custom"/>
      <ref name="att.datable.custom.attribute.to-custom"/>
      <ref name="att.datable.custom.attribute.when-custom"/>
   </define>
   <define name="att.datable.custom.attribute.from-custom">
      <optional>
         <attribute name="from-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the beginning of the period according to iso 8601</a:documentation>
            <data type="string">
               <param name="pattern">(((\d{4}|-)-(0[1-9]|1[0-2]))|--)-(0[1-9]|[1-2][0-9]|3[0-1])</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.custom.attribute.notAfter-custom">
      <optional>
         <attribute name="notAfter-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the end of the period according to iso 8601</a:documentation>
            <data type="string">
               <param name="pattern">(((\d{4}|-)-(0[1-9]|1[0-2]))|--)-(0[1-9]|[1-2][0-9]|3[0-1])</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.custom.attribute.notBefore-custom">
      <optional>
         <attribute name="notBefore-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the beginning of the period according to iso 8601</a:documentation>
            <data type="string">
               <param name="pattern">(((\d{4}|-)-(0[1-9]|1[0-2]))|--)-(0[1-9]|[1-2][0-9]|3[0-1])</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.custom.attribute.to-custom">
      <optional>
         <attribute name="to-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the end of the period according to iso 8601</a:documentation>
            <data type="string">
               <param name="pattern">(((\d{4}|-)-(0[1-9]|1[0-2]))|--)-(0[1-9]|[1-2][0-9]|3[0-1])</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.custom.attribute.when-custom">
      <optional>
         <attribute name="when-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the date or time according to ISO 8601</a:documentation>
            <data type="string">
               <param name="pattern">(((\d{4}|-)-(0[1-9]|1[0-2]))|--)-(0[1-9]|[1-2][0-9]|3[0-1])</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="model.persNamePart">
      <notAllowed/>
   </define>
   <define name="model.persNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="model.persNamePart_sequence">
      <empty/>
   </define>
   <define name="model.persNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="model.persNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="model.persNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="orgName">
      <element name="orgName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization name) contains an organizational name. [14.2.2. Organizational Names]</a:documentation>
         <text/>
         <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:xi="http://www.w3.org/2001/XInclude">
            <sch:rule context="tei:orgName[ancestor::tei:seriesStmt]">
               <sch:let name="ssrq"
                        value="('Fondation des sources du droit de la Société suisse des juristes', 'Rechtsquellenstiftung der Schweizerischen Juristischen Gesellschaft')"/>
               <sch:let name="content" value="normalize-space(.)"/>
               <sch:assert test="$content = $ssrq">
              The content of tei:orgName must match <sch:value-of select="string-join($ssrq, ' or ')"/>.
          </sch:assert>
            </sch:rule>
         </sch:pattern>
      </element>
   </define>
   <define name="persName">
      <element name="persName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [14.2.1. Personal Names]</a:documentation>
         <text/>
      </element>
   </define>
   <define name="gi">
      <element name="gi">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(element name) Contains an element name. [23. Documentation Elements 23.5. Element Specifications]</a:documentation>
         <data type="Name"/>
         <ref name="att.global.attributes"/>
         <optional>
            <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                       name="scheme"
                       a:defaultValue="TEI">
               <a:documentation>supplies the name of the scheme in which this name is defined.
Sample values include: 1] TEI; 2] DBK (docbook); 3] XX (unknown); 4] Schematron; 5] HTML</a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="TEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) Contains a single document (piece) as a so-called root element. [4. Default Text Structure 16.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="teiHeader"/>
            <ref name="text"/>
         </group>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the language according to ISO 639-1</a:documentation>
            <choice>
               <ref name="ssrq.lang.de"/>
               <ref name="ssrq.lang.fr"/>
               <ref name="ssrq.lang.it"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="text">
      <element name="text">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 16.1. Varieties of Composite Text]</a:documentation>
         <ref name="body"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the type of the text</a:documentation>
            <choice>
               <value>intro</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="body">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text section) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</a:documentation>
         <oneOrMore>
            <ref name="div"/>
         </oneOrMore>
      </element>
   </define>
   <define name="div">
      <element name="div">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body]</a:documentation>
         <choice>
            <group>
               <optional>
                  <ref name="head"/>
               </optional>
               <group>
                  <ref name="div"/>
                  <ref name="div"/>
                  <zeroOrMore>
                     <ref name="div"/>
                  </zeroOrMore>
               </group>
            </group>
            <group>
               <optional>
                  <ref name="head"/>
               </optional>
               <oneOrMore>
                  <choice>
                     <ref name="figure"/>
                     <ref name="p"/>
                     <ref name="quote"/>
                     <ref name="table"/>
                  </choice>
               </oneOrMore>
            </group>
         </choice>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  xmlns:rng="http://relaxng.org/ns/structure/1.0"
                  id="ssrq-intro-schema-div-abstractModel-structure-div-in-l-constraint-rule-14">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:l//tei:div">
               <sch:assert test="ancestor::tei:floatingText">
          Abstract model violation: Metrical lines may not contain higher-level structural elements such as div, unless div is a descendant of floatingText.
        </sch:assert>
            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  xmlns:rng="http://relaxng.org/ns/structure/1.0"
                  id="ssrq-intro-schema-div-abstractModel-structure-div-in-ab-or-p-constraint-rule-15">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:div">
               <sch:report test="(ancestor::tei:p or ancestor::tei:ab) and not(ancestor::tei:floatingText)">
          Abstract model violation: p and ab may not contain higher-level structural elements such as div, unless div is a descendant of floatingText.
        </sch:report>
            </sch:rule>
         </pattern>
         <ref name="att.global.attribute.xmllang"/>
         <optional>
            <attribute name="n">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) the numbering of the division</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the type of the division</a:documentation>
               <choice>
                  <value>part</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">part</a:documentation>
                  <value>chapter</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">chapter</a:documentation>
                  <value>section</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">article</a:documentation>
                  <value>subsection</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">paragraph</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <ref name="TEI"/>
   </start>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="xs"
           uri="http://www.w3.org/2001/XMLSchema"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="rng"
           uri="http://relaxng.org/ns/structure/1.0"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="rna"
           uri="http://relaxng.org/ns/compatibility/annotations/1.0"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="sch"
           uri="http://purl.oclc.org/dsdl/schematron"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="sch1x"
           uri="http://www.ascc.net/xml/schematron"/>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[@calendar]">
         <sch:assert test=".[@when-custom|@notBefore-custom|@notAfter-custom|@from-custom|@to-custom]">
                More attributes must be used together with @calendar to specify the date.
            </sch:assert>
      </sch:rule>
      <sch:rule context="tei:*[@when-custom|@notBefore-custom|@notAfter-custom|@from-custom|@to-custom][not(ancestor::tei:publicationStmt)][not(self::tei:time)]">
         <sch:assert test=".[@calendar]">
              @calendar must be used, when either @when-custom, @from-custom, @to-custom,
              @notAfter-custom or @notBefore-custom is used.
            </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[@when-custom]">
         <sch:report test="@notBefore-custom|@notAfter-custom|@from-custom|@to-custom">
                @when-custom cannot be used together with @notBefore-custom, @notAfter-custom, @from-custom or @to-custom.
            </sch:report>
      </sch:rule>
      <sch:rule context="tei:*[@from-custom or @to-custom]">
         <sch:assert test="@from-custom and @to-custom">
                @from-custom and @to-custom must always be used together.
            </sch:assert>
         <sch:report test="@notBefore-custom|@notAfter-custom">
                The usage of @notBefore-custom and @notAfter-custom is not allowed together with @from-custom and @to-custom.
            </sch:report>
         <sch:assert test="if (matches(@from-custom, '^\d{4}-\d{2}-\d{2}$') and matches(@from-custom, '^\d{4}-\d{2}-\d{2}$')) then (number(translate(@to-custom, '-', '')) - number(translate(@from-custom, '-', ''))) &gt; 0 else true()">
                Invalid timespan: @to-custom must be a point later in time than @from-custom.
            </sch:assert>
      </sch:rule>
      <sch:rule context="tei:*[@notBefore-custom and @notAfter-custom]">
         <sch:assert test="if (matches(@notBefore-custom, '^\d{4}-\d{2}-\d{2}$') and matches(@notAfter-custom, '^\d{4}-\d{2}-\d{2}$')) then (number(translate(@notAfter-custom, '-', '')) - number(translate(@notBefore-custom, '-', ''))) &gt; 0 else true()">
                Invalid timespan: @notAfter-custom must be a point later in time than @notBefore-custom.
            </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[@unit='unknown']">
         <sch:assert test="./@quantity='unknown'" xml:lang="en">
              If @unit has the value 'unknown', @quantity must be 'unknown' too.
            </sch:assert>
      </sch:rule>
      <sch:rule context="tei:*[@unit or @quantity]">
         <sch:assert test="@quantity and @unit" xml:lang="en">
                @unit and @quantity must be used together.
            </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[number(@quantity)=0 or number(@quantity)=0.0]">
         <sch:report test="not(@type='currency')" xml:lang="en">
                @quantity may only be zero, if it occurs in combination with @type="currency".
            </sch:report>
      </sch:rule>
   </sch:pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="ssrq-intro-schema-sch-att-spanTo-constraint-rule-24">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@spanTo]">
         <sch:assert test="id(@spanTo) and following::*[@xml:id=(current()/@spanTo)]">
            The element indicated by @spanTo (<sch:value-of select="@spanTo"/>) must occur after the current element <sch:name/>.
          </sch:assert>
      </sch:rule>
   </pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="*[@facs]">
         <sch:report test="matches(@facs, '__')" xml:lang="en">
              An underscore should not be followed by another underscore in @facs.
            </sch:report>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[@wit]">
         <sch:let name="wits"
                  value="for $wit in tokenize(@wit, ' ') return tokenize($wit, '#')[1]"/>
         <sch:assert test="every $wit in $wits satisfies id($wit)/name() = ('bibl', 'witness')"
                     xml:lang="en">
                Every referenced ID in @wit must belong to a tei:witness or tei:bibl element.
            </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[@hand]">
         <sch:let name="handNoteRef" value="@hand"/>
         <sch:assert test="exists(id($handNoteRef)) and id($handNoteRef)/name() = 'handNote'">
                The referenced ID in @hand must belong to a tei:handNote element.
              </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="@*">
         <sch:report test="matches(., '^(\s+|\t+|\n)(.*)$')" xml:lang="en">
              The value of <sch:name/> should not start with whitespace.
            </sch:report>
         <sch:report test="matches(., '^(.*)(\s+|\t+|\n)$')" xml:lang="en">
              The value of <sch:name/> should not end with whitespace.
            </sch:report>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="@*">
         <sch:assert test="count(distinct-values(tokenize(.))) = count(tokenize(.))">
              An attribute should not have duplicate values.
            </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="tei:*[name() = ('ab', 'abbr', 'add', 'additional', 'author', 'availability', 'bibl', 'body', 'custEvent', 'custodialHist', 'del', 'dimensions', 'div', 'docImprint', 'editorialDecl', 'encodingDesc', 'expan', 'extent', 'foreign', 'fw', 'handDesc', 'head', 'hi', 'history', 'idno', 'item', 'keywords', 'label', 'lem', 'licence', 'list', 'listBibl', 'listWit', 'measure', 'measureGrp', 'msContents', 'msItem', 'note', 'num', 'objectDesc', 'orgName', 'orig', 'origPlace', 'p', 'persName', 'physDesc', 'placeName', 'publicationStmt', 'publisher', 'pubPlace', 'q', 'quote', 'repository', 'resp', 'respStmt', 'row', 'sealDesc', 'seg', 'settlement', 'sic', 'signed', 'sourceDesc', 'subst', 'summary', 'supplied', 'support', 'supportDesc', 'table', 'TEI', 'teiHeader', 'text', 'textClass', 'time', 'title', 'unclear', 'witness')][not(*)]">
         <sch:assert test="string-length(normalize-space(.)) &gt; 0">
              The element <sch:name/> must not be empty.
            </sch:assert>
      </sch:rule>
   </sch:pattern>
   <sch:pattern xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron">
      <sch:rule context="text()">
         <sch:report role="warning" test="matches(., ' ')">
              It is not allowed to use a non-breaking space in the text.
            </sch:report>
      </sch:rule>
   </sch:pattern>
</grammar>
